<%- include("../partials/header") %>

<ul>
    <% cars.forEach((car) => { %>
        
        <li>Make: <%= car.make %></li>
        <li>Year: <%= car.year %></li>
        <li>Year: <%= car.isUsed %></li>
    <% }) %>
</ul>

<%- include("../partials/footer") %>  